/* p
{
  width:45ch;
  //font-family: monospace;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 3s steps(20) infinite alternate-reverse;
}

@keyframes typing{
  from {
    width:0ch
  }
} */